extends base

block head
  title Default Title

block header
  div.header-wrapper
    a(href="/") Home
    &nbsp;
    a(href="/log") Archive
    &nbsp;
    a(href="http://www.twitter.com/revgum") @revgum

block footer
  div.footer-wrapper 
    span Inspired by 
    a(href="#") toto